.tag {
    padding: 2px var(--spacing-2);
    border-radius: var(--radius-full);
    vertical-align: text-bottom;
    color: var(--color-text-inverse);
    background: var(--color-action-secondary);
    font-size: var(--font-size-xs);
}
