.root {
    border-radius: var(--radius-md);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconButton {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: calc(var(--spacing-2) * -1);
}

.primary {
    background-color: var(--color-action-primary);
    color: var(--color-text-on-primary);
}
.primary.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.secondary {
    background-color: var(--color-action-secondary);
    color: var(--color-text-secondary);
}
.secondary:hover {
    background-color: var(--color-action-secondary-hover);
}

.tertiary {
    background-color: var(--color-surface-default);
    color: var(--color-text-primary);
}


.outlined {
    border: var(--border-width-thin) solid var(--color-border-default);
}

.ghost {
    background: transparent;
}
.ghost:hover {
    background: transparent;
    opacity: 0.9;
}

.ghost.primary {
    color: var(--color-text-primary);
}
.ghost.secondary {
    color: var(--color-text-secondary);
}

.sm {
    height: 31px;
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--typography-button-sm-size);
}

.md {
    height: 34px;
    padding: var(--spacing-2) var(--spacing-4);
}
.lg {
    height: 48px;
    padding: 15px var(--spacing-3);
}
.xl {
    height: 52px;
    padding: var(--spacing-4);
    font-size: var(--typography-button-xl-size);
    font-weight: var(--font-weight-bold);
}
