:root {
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-headline: 64px;
    --font-size-h2: 24px ;
    --font-size-h3: 22px ;
    --font-size-h4: 20px ;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
    --font-size-body: 14px;
    --font-size-caption: 12px;
    --font-size-overline: 12px;
}

.typography-headline {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-headline);
}

.typography-h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
}

.typography-h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h3);
}
.typography-h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
}
.typography-h5 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h5);
}
.typography-h6 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-h6);
}
.typography-body {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
}
.typography-caption {
     font-weight: var(--font-weight-medium);
     font-size: var(--font-size-caption);
 }
.typography-overline {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-overline);
}
