:root {
    --color-primary: #00B894;
    --color-secondary: #FF9533;
    --color-secondary-hover: #e9ecef;
    --color-border: #dee2e6;
    --color-background: #f9fafb;
    --color-white: #ffffff;
    --color-divider: #f1f3f5;
    --color-shadow: #0000001a;

    --color-text-primary: #212529;
    --color-text-secondary: #656d75;
    --color-text-tertiary: #212529;

    --color-border-radio: #bcc4cc;

    --radius-sm: 6px;
    --radius-md: 8px;
}