.backdrop {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: relative;
    min-width: 300px;
    padding: 24px 24px 16px;
    background-color: white;
    border-radius: 8px;
}

.content {
    text-align: center;
    margin: 16px 0;
}

.actionWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 40px;
    button {
        flex: 1;
    }
}