.root {
  width: 100%;
  min-height: 200px;
  padding: var(--spacing-8) var(--spacing-4);
  border-radius: var(--radius-md);
  background-color: var(--color-surface-default);
  box-shadow: var(--shadow-card);
}
