.progressbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressbar {
    overflow: hidden;
    position: relative;
    width: 78%;
    height: 6px;
    background: #F8F8F8;
    border-radius: 50px;
}
.linear {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 6px;
    transform-origin: left center;
    transform: scaleX(0);                 /* ⭐ 초기값 */
    transition: transform 0.5s ease-out;  /* ⭐ 여기로 애니메이션 */
    will-change: transform;
    background: #00B894;

}


